body {
  padding: 0px;
  text-align: center;
  overflow: hidden;
  display:flex;
}

#game-board {
  float: left;
  padding: 10px;
  border: 1px solid black;
}
#rock-board{
background-image: url("./images/rock-background.jpg");
background-position: center;
background-size: contain;
}
.rotated {
  transform: rotate(90deg);   
  /* Equal to rotateZ(45deg) */
  
}
.banner {
  background-image : url('./images/gold-miner-3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
.instructions {
  border: 4px solid rgba(240, 167, 11, 0.877);
  background-color: rgba(133, 68, 8, 0.877);
  color:white;
  font-size: 20px;
  font-weight: bold;
}