body {
  padding: 0px;
  text-align: center;
  overflow: hidden;
}

#game-board {
  float: left;
  padding: 10px;
  border: 1px solid black;
}
#rock-board{
background-image: url("./images/rock-background.jpg");
background-position: center;
background-size: contain;
}